.room-details-group overlay {
  margin-bottom: 6px;
}

.room-details-group avatar * {
  /* Undo non-sensitive style. */
  filter: none;
}

.room-details-group entry:disabled {
  border-color: transparent;
  /* Undo non-sensitive style. */
  color: @theme_text_color;
  background: none;
}

.room-details-group entry textview {
  /* Undo non-sensitive style. */
  color: @theme_text_color;
  background: none;
}

.room-details-group entry text {
  /* Undo non-sensitive style. */
  color: @theme_text_color;
  background: none;
}

.room-details-name {
  font-size: 2em;
  margin-bottom: 6px;
}

.room-details-topic {
  margin-bottom: 6px;
}

.badge {
  color: white;
  background-color: lightgrey;
  border-radius: 0.4em;
  padding: 0.1em 0.5em;
  font-size: 0.8em;
  margin-left: 0.5em;
}

.admin {
  color: white;
  background: #cc5959;
}

.mod {
  color: black;
  background-color: #cea63a;
}

.title-header {
  font-size: 36px;
  font-weight: bold;
}

.pill-button {
  border-radius: 9999px;
  padding: 12px 40px;
}

.inline-pill {
  border-radius: 9999px;
  background-color: alpha(@theme_text_color, 0.1);
  padding-right: 6px;
}

.app-notification .inline-pill {
  background-color: alpha(@theme_bg_color, 0.2);
}

.selected-avatar avatar {
  border: 2px solid @accent_bg_color;
}

.blue-checkmark {
  color: white;
  border-radius: 9999px;
  border: solid @accent_bg_color 2px;
  background-color: @accent_bg_color;
}

/* Login */
.login {
  min-width: 250px;
}

.session-verification .text-button {
 min-width: 200px;
}

.devnotice {
  background: @warning_bg_color;
  color: @warning_fg_color;
  padding: 12px 24px;
}

/* Session */
.session-loading-spinner {
  min-width: 32px;
  min-height: 32px;
}

headerbar.flat {
  background: none;
  border: none;
}

/* Account switcher */
#account-switcher row {
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#account-switcher .user-id {
  font-size: 12px;
}

#new-login-icon {
  /*
   *  2 * padding + pixel-size = size (of avatar)
   */
  padding: 12px;
  background-color: lightgrey;
  border-radius: 9999px;
}

/* Sidebar List */
.sidebar-list row {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.sidebar-list row:focus-visible:focus-within {
  outline: 0;
}

.sidebar-list row:selected {
  background: none;
}

.sidebar-list row > * {
  margin: 0 12px;
  padding: 12px 6px;
  border-radius: 6px;
  transition-property: outline, outline-width, outline-offset, outline-color;
  transition-duration: 300ms;
  animation-timing-function: ease-in-out;
  outline: 0 solid transparent;
  outline-offset: 2px;
}

.sidebar-list row:focus-visible:focus-within > * {
  outline-color: alpha(@accent_color, 0.5);
  outline-width: 2px;
  outline-offset: -2px;
}

.sidebar-list:not(.drop-mode) row:hover > * {
  background-color: alpha(currentColor, 0.07);
}

.sidebar-list row:active > * {
  background-color: alpha(currentColor, 0.16);
}

.sidebar-list row:selected > * {
  background-color: alpha(currentColor, 0.1);
}

.sidebar-list:not(.drop-mode) row:selected:hover > *,
.sidebar-list row:selected.has-open-popup > * {
  background-color: alpha(currentColor, 0.13);
}

.sidebar-list row:selected:active > * {
  background-color: alpha(currentColor, 0.19);
}

.sidebar-list row.entry {
  font-weight: bold;
}

.sidebar-list row.category {
  margin-top: 6px;
  font-size: 0.8em;
  font-weight: bold;
}

.sidebar-list row.category image.arrow {
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sidebar-list row.category .category-row:not(:checked) image.arrow:dir(ltr) {
  transform: rotate(-0.25turn);
}

.sidebar-list row.category .category-row:not(:checked) image.arrow:dir(rtl) {
  transform: rotate(0.25turn);
}

.sidebar-list row.room .notification_count {
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 10px;
  min-width: 0.7em;
  padding: 2px 5px;
}

.sidebar-list row.room .highlight {
  color: @accent_fg_color;
  background-color: @accent_bg_color;
}

.sidebar-list sidebar-row.drag {
  color: @accent_fg_color;
  background-color: @accent_bg_color;
  opacity: 0.6;
}

.sidebar-list sidebar-row.drop-disabled > * {
  opacity: 0.6;
}

.sidebar-list sidebar-row.drop-empty {
  color: @accent_color;
}

.sidebar-list sidebar-row.forget {
  color: @error_color;
  background: none;
}

.sidebar-list row.drop-active {
  background-color: alpha(@accent_color, 0.1);
}

.sidebar-list row.category.drop-active,
.sidebar-list row.drop-active sidebar-row.forget {
  color: @accent_color;
}

.sidebar-list row.drop-active .dim-label,
.sidebar-list row.drop-active sidebar-row.drop-empty .dim-label {
  opacity: 1;
}

/* Content */
.room-history {
  background: @theme_base_color;
}

.room-history row {
  min-height: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

.room-history row.has-header {
  margin-top: 6px;
}

.room-history .event-content {
  margin-right: 46px;
}

.room-history row:not(.has-header) .event-content,
.room-history row:not(.has-header) message-reactions {
  margin-left: 46px;
}

.room-history .event-content .emoji {
  font-size: 3em;
}

.room-history .event-content .thumbnail {
  border-radius: 6px;
  background-color: @borders;
}

.room-history .event-content .thumbnail .osd.circular {
  min-width: 64px;
  min-height: 64px;
  border-radius: 32px;
}

.room-history .event-content .thumbnail .timestamp {
  border-radius: 4px;
  padding: 2px 5px;
}

.room-history .event-content .quote {
  border-left: 2px solid @theme_selected_bg_color;
  padding-left: 6px;
  opacity: 0.7;
}

message-reactions .toggle {
  padding: 1px 4px 0 5px;
  background-color: @view_bg_color;
  border: 1px solid @light_4;
}

message-reactions .toggle:checked {
  background-color: alpha(@blue_1, 0.4);
  border-color: @blue_2;
}

message-reactions .reaction-key {
  font-size: 1.1em;
}

message-reactions .reaction-count {
  font-size: 0.8em;
  padding-left: 5px;
}

.divider-row {
  font-size: 0.9em;
  font-weight: bold;
}

.timestamp {
  min-width: 36px;
  font-weight: normal;
}

.codeview {
  border-radius: 5px;
  padding: 6px;
  font-family: monospace;
  background-color: @text_view_bg;
  color: @theme_text_color;
}

.view {
  padding: 7px 0;
}

.invite-room-name {
  font-size: 24px;
}

.app-notification {
  border-radius: 9999px;
  padding-left: 24px;
}

/* Event Source Dialog */
.event-source-dialog .sourceview {
  font-family: monospace;
}

.explore listview row {
  padding: 12px;
}

listview.content {
	border-radius: 9px;
	border-width: 1px;
	border-style: solid;
}

listview.content row:last-child {
	border-bottom-width: 0px;
}

.bold {
  font-weight: bold;
}

button.cutout {
  box-shadow: 0 0 0 2px @theme_bg_color;
  background-color: #e2e2e1;
}

button.cutout:hover {
  background-color: #d8d8d7;
}

button.cutout:active {
  background-color: #c4c5c4;
}

.emoji {
  font-size: 2em;
}

textview, text {
  color: inherit;
  background: none;
}
