.title-header {
  font-size: 36px;
  font-weight: bold;
}

.pill-button {
  border-radius: 9999px;
  padding: 12px 40px;
}

.pill {
  border-radius: 9999px;
  background-color: alpha(@theme_text_color, 0.1);
  padding-right: 6px;
}

.app-notification .pill {
  background-color: alpha(@theme_bg_color, 0.2);
}

/* Login */
.login {
  min-width: 250px;
}

/* Session */
.session-loading-spinner {
  min-width: 32px;
  min-height: 32px;
}

headerbar.flat {
  background: none;
  border: none;
}

/* Sidebar */
.sidebar row {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar .category {
  margin-top: 4px;
  font-size: 0.8em;
  font-weight: bold;
}

.sidebar .entry {
  margin-top: 4px;
  font-weight: bold;
}

.sidebar .category image.arrow {
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sidebar .category .category-row:not(:checked) image.arrow:dir(ltr) {
  transform: rotate(-0.25turn);
}

.sidebar .category .category-row:not(:checked) image.arrow:dir(rtl) {
  transform: rotate(0.25turn);
}

.sidebar .room {
  padding-top: 4px;
  padding-bottom: 4px;
}

.sidebar .room .bold {
  font-weight: bold;
}

.sidebar .room .notification_count {
  /* TODO: use correct color variable */
  background-color: #555;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 10px;
  min-width: 0.7em;
  padding: 2px 5px;
}

.sidebar .room .highlight {
  /* TODO: use correct color variable */
  background-color: @theme_selected_bg_color;
}

/* Content */
.room-history row {
  min-height: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

.room-history row.has-header {
  margin-top: 6px;
}

.room-history .event-content {
  margin-right: 46px;
}

.room-history row:not(.has-header) .event-content {
  margin-left: 46px;
}

.divider-row {
  font-size: 0.9em;
  font-weight: bold;
}

.displayname {
  font-size: 0.9em;
  font-weight: bold;
  color: @theme_selected_bg_color;
}

.timestamp {
  font-size: 0.9em;
  min-width: 36px;
}

.codeview {
  border-radius: 5px;
  padding: 6px;
  font-family: monospace;
  background-color: @text_view_bg;
  color: @theme_text_color;
}

.send-message-area {
  margin: 6px;
}

.message-entry > .view {
  background-color: @theme_base_color;
  border-radius: 5px;
  border: 1px solid @borders;
  padding: 6px;
}

.message-entry > .view:focus {
  border: 2px solid @theme_selected_bg_color;
  padding: 5px;
}

.invite-room-name {
  font-size: 24px;
}

.app-notification {
  border-radius: 9999px;
  padding-left: 24px;
}

/* Event Source Dialog */
.event-source-dialog .sourceview {
  background-color: @theme_base_color;
  padding: 6px;
}

.explore listview {
  padding: 12px;
}

.bold {
  font-weight: bold;
}
